<head>
<p id="notice"><%= notice %></p>

</head>
<h1>Welcome to the豆瓣购书网！</h1>
  <%= link_to "我要登陆！", login_path, class: "btn btn-lg btn-primary" %>
    
  <%= link_to "我要注册！", new_user_path, class: "btn btn-lg btn-primary" %>
  
</div>